.profile-info {
    width: 100%;
    max-width: 400px;
}

.form-group:has(#remove_photo) {
    flex-direction: row;
}

#remove_photo {
    width: 18px;
    aspect-ratio: 1;
    margin-left: auto;
}

.profile-info .profile-picture-container {
    margin: auto;
}